@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anybody";
  src: url("~assets/fonts/Anybody.ttf") format("truetype-variations");
  font-weight: 1 999;
}

@layer base {
  * {
    @apply !select-none;
    -webkit-tap-highlight-color: transparent;
  }

  a {
    @apply focus:outline-none;
  }

  html {
    @apply font-primary text-black font-normal bg-white;
  }

  svg {
    @apply w-full h-full object-cover pointer-events-none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply select-text font-black;
  }

  p {
    @apply select-text;
  }

  button,
  a,
  a p,
  button p,
  a span,
  button span {
    @apply !select-none;
  }

  strong {
    @apply font-bold;
  }

  ::-webkit-scrollbar {
    @apply bg-transparent w-1;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-lg;
  }

  ::-webkit-scrollbar-thumb {
    @apply !bg-white dark:!bg-gray-400 rounded-lg;
  }
}

@layer components {
  .button-primary {
    @apply bg-black text-gray-300 transition-all border border-black px-6 font-bold inline-flex justify-center z-0 items-center rounded-full relative h-12 after:absolute after:top-0 after:left-full after:h-12 after:w-12 after:rounded-full after:ml-2 after:border after:border-black after:bg-[url('/images/arrow.svg')] after:content-[''] after:bg-black after:bg-center after:bg-no-repeat
    hover:bg-white hover:after:bg-white hover:border hover:after:border hover:border-black hover:after:border-black after:transition-all hover:text-black;
  }
  .button-primary-simple {
    @apply bg-black text-gray-300 border border-black transition-all px-6 font-bold inline-flex z-0 justify-center items-center rounded-full relative h-12
    hover:bg-white hover:border hover:border-black hover:text-black;
  }
}

@layer utilities {
  .text-outline {
    @apply text-white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  transition: all 0.3s ease;
}
.page-leave-active {
  transition: all 0.3s ease;
}
.page-leave-to {
  opacity: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-enter-active {
  animation: fade ease-in-out 0.4s;
}
.fade-leave-active {
  animation: fade ease-in-out 0.3s reverse;
}

/* Hooper */

.hooper-next,
.hooper-prev {
  background-color: white !important;
  border-radius: 1rem;
  margin: 0 1rem;
  transition: all 0.2s ease;
  @apply shadow-md !p-2 !w-10;
}